footer {
    border-top: 1px solid black;
    text-align: center;
    text-decoration: none;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h4 {
    font-size: 20px;
    margin-bottom: 10px;

}

.footer-section p, .footer-section ul, .footer-section a {
    font-size: 18px;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}
